@import "../variables";

.sectionThree {
  line-height: 1.4;

  background-color: $thirdColor;
  display: flex;
  flex-direction: column;
  gap: 80px;
  padding: 0 20px;

  .desktopTitle {
    display: none;
  }
  .mobileTitle {
    display: block;
  }
  .intro {
    text-align: center;
    max-width: 800px;
    margin: 0 auto;
    h2 {
      margin-bottom: 20px;
    }
  }
  .info {
    display: grid;
    justify-content: space-around;
    flex-direction: column;
    margin: 0 auto;
  }

  .links {
    display: flex;
    justify-content: space-around;
    a {
      color: $altColor;
      font-size: 1.3rem;
    }
  }
  p {
    font-weight: 200;
    font-size: 1.3rem;
  }
  h3 {
    color: $textColor;
    text-align: center;
  }
  img {
    width: 100%;
    border-radius: 5px;
  }
  .project {
    display: grid;
    grid-template-columns: 1fr;
    gap: 20px;
    max-width: 1000px;
    margin: 0 auto;

    .info {
      order: 1;
    }
  }
}

@media screen and (min-width: 750px) {
  .sectionThree {
    .desktopTitle {
      display: block;
    }
    .mobileTitle {
      display: none;
    }
    .project {
      grid-template-columns: 1fr 1fr;
    }
    .image-right {
      direction: rtl;
    }
  }
}
